@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/* =======STYLING THE MAIN WEBPAGE====================== */
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    outline: none;
    list-style: none;
}

:root{
    --color-bg: hsl(36, 100%, 99%);
    --btn-background: hsl(236, 13%, 42%);
    --color-red: hsl(5, 85%, 63%);
    --color-yellow: hsl(35, 77%, 62%);
    --color-bg2: hsl(240, 100%, 5%);
    --color-grey: hsl(233, 8%, 79%);
}

body{
    padding: 3rem 5rem 0 5rem;
    background: var(--color-bg);
    font-family: 'Inter', sans-serif;
    Font-size: 15px;
    display: grid;
    min-height: 100vh;
    row-gap: 1rem;
}

a{
    color: var(--color-grey);
}

::-webkit-scrollbar{
    width: 1em;
}

::-webkit-scrollbar-track{
    background-color: var(--color-bg);
    border-radius: 5px;
}
::-webkit-scrollbar-track:hover{
    background-color: var(--color-bg2);
}

::-webkit-scrollbar-thumb{
    background-color: var(--color-grey);
    border-radius: 15px;
    border: 5px solid var(--color-bg);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-yellow);
    border: 5px solid var(--color-bg2);
}

@supports(scrollbar-color: var(--color-bg2)){
    *{
        scrollbar-color: var(--color-bg2);
        scrollbar-width: thin;
    }
}


/* ======STYLING THE MAIN BODY CONTAINER========== */

/* styling the modal class */
.modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 2;
}

/* ==========STYLING THE NAVIGATION BAR ELEMENTS============== */
header{
    margin-bottom: auto;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 60%;
}

.visible-nav{
    width: 40%;
    top: 0;
}
.visible-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visible-nav ul li>a:hover{
    color: var(--color-red);
}

.close{
    display: none;
    padding: 1rem;
    align-items: center;
    justify-content: flex-end;
}

.close > img{
    cursor: pointer;

}

.toggle{
    cursor: pointer;
    display: none;
}

/* ==========STYLING THE TOP PAGE ELEMENT===================== */
main{
    place-self: center;
}
.main-container{
    margin-top: 1.5rem;
    /* width: 100%; */
    display: grid;
    gap: 4%;
    grid-template-columns: 65% 31%;
}

.main-container_left{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-container_left > span{
    width: 100%;
    height: 300px;
    background-image: url(./assets/images/image-web-3-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.left_bottom{
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
    margin-top: 1.5rem;
    line-height: 48px;
}

.left-bottom_left{
    font-size: 35px;
    font-weight: 800;
}

.left-bottom_right{
    line-height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-grey);
}

.left-bottom_right > button{
    height: 2.2rem;
    width: 45%;
    color: var(--color-bg);
    background: var(--color-red);
    border: 1px solid var(--color-red);
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
}

.left-bottom_right > button:hover{
    background: var(--color-bg2);
    border: 1px solid var(--color-bg2);
}

.main-container_right{
    background: var(--color-bg2);
    color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.main-container_right > h1{
    color: var(--color-yellow);
    font-size: 38px;
}

.para > h3{
    margin-bottom: .5rem;
    cursor: pointer;
}

.para > h3:hover{
    color: var(--color-yellow);
}

.para > p{
    font-size: 14px;
    color: var(--color-grey);
}

/* ============STYLING THE BOTTOM PAAGE ELEMENT============ */
.body-bottom{
    display: flex;
    /* justify-content: space-between; */
    margin-top: 3rem;
    gap: 4%;
}

.foot-item{
    display: flex;
    gap: 5%;
}

.foot-item > img{
    width: 90px;
    height: 120px;
}

.foot-item_details{
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: space-between;
    color: var(--color-grey);
}

.foot-item_details >h4{
    font-size: 17px;
    font-weight: 700;
    color: black;
    cursor: pointer;
}
.foot-item_details >h4:hover{
    color: var(--color-red);
}

.foot-item_details > p{
    font-size: 15px;
  
}
/* =============STYLING THE CHALLENGE CONTAINER============== */
.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: auto;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* ===========TABLET RESPONSIVE SETTINGS======== */
@media screen and (max-width: 64rem){
    /* styling the nav elements */
    .logo{
        width: 40%;
    }

    .visible-nav{
        width: 60%;
    }

    /* styling the top page elements */
    .main-container{
        gap: 2%;
        grid-template-columns: 60% 38%;
    }

    .left_bottom{
        grid-template-columns: 44% 52%;
        gap: 4%;
    }

    .left-bottom_left{
        font-size: 25px;
        font-weight: 800;
    }

    .left-bottom_right{
        line-height: 17px;
    }

    .left-bottom_right > button{
        height: 2rem;
        font-size: 12px;
    }

    .body-bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ===========MOBILE RESPONSIVE SETTINGS========= */
@media screen and (max-width: 37.5rem){

    /* styling the mobile nav menu */
    body{
        padding: 1rem;
    }

    a{
        color: black;
    }

    ::-webkit-scrollbar{
        display: none;
    }
    @supports(scrollbar-width: none){
        *{
            scrollbar-width: none;
        }
    }

    .visible-nav{
        display: none;
        position: fixed;
        background: var(--color-bg);
        height: 100%;
        width: 65%;
        right: 0;
        bottom: 0;
        z-index: 5;
    }

    .visible-nav ul{
        margin-top: 2rem;
        flex-direction: column;
        align-items:flex-start;
        gap: 2rem;
        padding: 1rem;
    }

    .close{
        display: flex;
    }

    .toggle{
        display: block;
    }

    /* styling the mobile top body element */
    .main-container{
        grid-template-columns: 1fr;
        gap: 6%;
    }

    .main-container_left > span{
        background-image: url(./assets/images/image-web-3-mobile.jpg);
    }

    .left_bottom{
        grid-template-columns: 1fr;
        gap: 5%;
    }

    .left-bottom_left{
        width: 80%;
        font-size: 35px;
    }

    .left-bottom_right > button{
        margin-top: 1.5rem;
    }

    .main-container_right{
        height: 70vh;
    }

    /* styling the mobile bottom body element */
    .body-bottom{
        flex-direction: column;
        margin-top: 8rem;
        gap: 2rem;
    }
}

/* ==== TO DISPLAY HIDDEN ELEMENTS===== */
.open-modal{
    display: block;
}

.show-nav{
    display: block;
}